<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <form
    class="needs-validation"
    #newProductForm="ngForm"
    (ngSubmit)="createProduct()"
  >
    <div class="modal-body">
      <div class="form-group">
        <label for="name">Name</label>
        <div class="input-group has-validation">
          <input
            id="name"
            class="form-control"
            ngModel
            required
            #name="ngModel"
            name="name"
            maxlength="255"
          />
        </div>
        @if(name.touched && name.invalid){
        <div>
          <p class="lp-control-error">
            Name is required and must be less than 256 characters
          </p>
        </div>
        }

        <label for="description">Description</label>
        <div class="input-group has-validation">
          <input
            id="description"
            class="form-control"
            ngModel
            name="description"
            required
            #description="ngModel"
            maxlength="255"
          />
        </div>
        @if(description.touched && description.invalid){
        <div>
          <p class="lp-control-error">
            Description is required and must be less than 256 characters
          </p>
        </div>
        }
        <label for="price">Price</label>
        <div class="input-group has-validation">
          <input
            id="price"
            class="form-control"
            ngModel
            name="price"
            required
            maxlength="255"
          />
        </div>
        <label for="quantity">Quantity</label>
        <div class="input-group has-validation">
          <input
            id="quantity"
            class="form-control"
            ngModel
            name="quantity"
            required
            maxlength="255"
          />
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-outline-secondary">Submit</button>
    </div>
  </form>
</ng-template>
